<p>
  <strong>name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>rating:</strong>
  <%= @review.rating %>
</p>

<p>
	<strong>body:</strong>
	<%= @review.body %>
<p>	

<p>
  <strong>hotel:</strong>
  <%= @review.hotel_id %>
</p>
